*{
    box-sizing: border-box;
}

@mixin tablet(){
    @media(min-width:$tablet){
        @content;
    }
} 
@mixin desktop(){
    @media(min-width:$desktop){
        @content;
    }
} 

body{
    background-color: $very-dark-blue;
    color: $white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
main{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}