@mixin tablet(){
    @media(min-width:$tablet){
        @content;
    }
} 
@mixin desktop(){
    @media(min-width:$desktop){
        @content;
    }
} 

#img-container{
    width: 327px;
    height: 240px;
    background-color: $soft-viola;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    &:hover{
        background-color: $dark-desaturated-blue;
        animation: color 1.7s linear;
        animation-iteration-count: 1;
        cursor: pointer;
    }

    @include tablet(){
        width: 600px;
        height: auto;
    }

    @include desktop(){
        width: 540px;
        height:446px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
    }
}

#img{
    width: 327px;
    height: 240px; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    opacity: 0.5;

    @include tablet(){
        width: 600px;
        height:auto;
        margin: 0;
    }
    @include desktop(){
        width: 540px;
        height:446px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
    }
    
}

@keyframes color{
    0%{opacity: (0.2);};
    100%{opacity: (0.5);};
}