* {
  box-sizing: border-box;
}

body {
  background-color: hsl(233deg, 47%, 7%);
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

main {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#container {
  background-color: hsl(244deg, 38%, 16%);
  height: 780px;
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
}
@media (min-width: 800px) {
  #container {
    width: 600px;
    height: 800px;
  }
}
@media (min-width: 1440px) {
  #container {
    width: 1110px;
    height: 446px;
    display: flex;
    flex-direction: row-reverse;
  }
}

#img-container {
  width: 327px;
  height: 240px;
  background-color: hsl(277deg, 64%, 61%);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#img-container:hover {
  background-color: hsl(244deg, 38%, 16%);
  -webkit-animation: color 1.7s linear;
          animation: color 1.7s linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  cursor: pointer;
}
@media (min-width: 800px) {
  #img-container {
    width: 600px;
    height: auto;
  }
}
@media (min-width: 1440px) {
  #img-container {
    width: 540px;
    height: 446px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
  }
}

#img {
  width: 327px;
  height: 240px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  opacity: 0.5;
}
@media (min-width: 800px) {
  #img {
    width: 600px;
    height: auto;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  #img {
    width: 540px;
    height: 446px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
  }
}

@-webkit-keyframes color {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes color {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.5;
  }
}
#text {
  width: 294px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 800px) {
  #text {
    width: 400px;
  }
}
@media (min-width: 1440px) {
  #text {
    margin: auto;
    text-align: left;
  }
}
#text h1 {
  font-size: 1.8rem;
  font-weight: 700;
}
@media (min-width: 800px) {
  #text h1 {
    font-size: 2.1rem;
  }
}
#text span {
  color: hsl(277deg, 64%, 61%);
}
#text span:hover {
  color: hsla(0deg, 0%, 100%, 0.75);
  text-transform: uppercase;
  cursor: pointer;
}
#text p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  width: 264px;
  margin: auto;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
@media (min-width: 800px) {
  #text p {
    width: 400px;
  }
}
@media (min-width: 1440px) {
  #text p {
    width: 374px;
  }
}

@media (min-width: 800px) {
  #statistics {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 1fr;
    text-align: left;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
@media (min-width: 1440px) {
  #statistics {
    -moz-column-gap: 48px;
         column-gap: 48px;
    margin-top: 60px;
  }
}
#statistics h2:hover {
  color: hsl(277deg, 64%, 61%);
  cursor: pointer;
}
#statistics p {
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */