@mixin desktop(){
    @media(min-width:$desktop){
        @content;
    
    }
}

#container{
    background-color: white;
    /*display: flex;
    flex-direction: column;*/
    border-radius: 20px;
    height:567px;
    width: 327px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;

    @include desktop(){
        height: 697px;
        width: 450px;
        row-gap: 11px;
    }
}