@mixin desktop(){
    @media(min-width:$desktop){
        @content;
    
    }
}

#hero-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 160px;
    width:327px;

    @include desktop(){
        height: 220px;
        width:450px;
        margin-bottom: 1rem;
    }
}