@mixin desktop(){
    @media(min-width:$desktop){
        @content;
    
    }
}

#text{
    font-family: $font-family;
    text-align: center;
    width: 263px;
    margin: auto;

    @include desktop(){
        width: 354px;
    }

    h1{
        color:$dark-blue;
        font-weight: $bold;
        font-size: 1.5rem;

        @include desktop(){
            font-size: 1.8rem;
            margin-top: 1rem;
        }
    }
    p{
        color: $desaturated-blue;
        line-height: 1.5rem;
        font-size: 0.9rem;  
        font-weight: $normal;

        @include desktop(){
            font-size: 1.1rem;
            line-height: 1.7rem;
           
        }
    }
}
