$desktop: 800px;
$pale-blue:hsl(225, 100%, 94%);
$bright-blue:hsl(245, 75%, 52%);//#3829e0
$very-pale-blue:hsl(225, 100%, 98%);
$desaturated-blue:hsl(224, 23%, 55%); //#7280a7
$dark-blue:hsl(223, 47%, 23%);
$font-family:"Red Hat Display", sans-serif;
$normal:500;
$medium:700;
$bold:900;