* {
  box-sizing: border-box;
}

body {
  background: url("/images/pattern-background-mobile.svg"), hsl(225deg, 100%, 94%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
@media (min-width: 800px) {
  body {
    background: url("/images/pattern-background-desktop.svg"), hsl(225deg, 100%, 94%);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

main {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#container {
  background-color: white;
  /*display: flex;
  flex-direction: column;*/
  border-radius: 20px;
  height: 567px;
  width: 327px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 20px;
}
@media (min-width: 800px) {
  #container {
    height: 697px;
    width: 450px;
    row-gap: 11px;
  }
}

#hero-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 160px;
  width: 327px;
}
@media (min-width: 800px) {
  #hero-img {
    height: 220px;
    width: 450px;
    margin-bottom: 1rem;
  }
}

#text {
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  width: 263px;
  margin: auto;
}
@media (min-width: 800px) {
  #text {
    width: 354px;
  }
}
#text h1 {
  color: hsl(223deg, 47%, 23%);
  font-weight: 900;
  font-size: 1.5rem;
}
@media (min-width: 800px) {
  #text h1 {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
}
#text p {
  color: hsl(224deg, 23%, 55%);
  line-height: 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}
@media (min-width: 800px) {
  #text p {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
}

#annual-plan {
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(225deg, 100%, 98%);
  width: 279px;
  height: 81px;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: flex-start;
  align-content: center;
  border-radius: 20px;
}
@media (min-width: 800px) {
  #annual-plan {
    width: 354px;
    height: 98px;
    margin-top: -1rem;
    margin-bottom: 0.7rem;
  }
}
#annual-plan #music-img {
  height: 48px;
  margin: auto 1rem;
}
#annual-plan #charge-text {
  color: hsl(245deg, 75%, 52%);
  text-decoration: underline;
  font-weight: 700;
  font-size: 0.8rem;
  margin: auto;
}
#annual-plan #charge-text:hover {
  cursor: pointer;
  color: hsl(224deg, 23%, 55%);
  transform: scale(1.05);
}
@media (min-width: 800px) {
  #annual-plan #charge-text {
    font-size: 0.9rem;
    margin: auto 3.5rem;
  }
}

#plan-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 5px;
  margin: auto 0.45rem;
  font-weight: 0.8rem;
}
#plan-text #plan {
  color: hsl(223deg, 47%, 23%);
  font-weight: 900;
}
#plan-text #charge {
  color: hsl(224deg, 23%, 55%);
  font-weight: 500;
}

button {
  background-color: hsl(245deg, 75%, 52%);
  color: white;
  font-size: 1rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  border-radius: 1rem;
  height: 50px;
  width: 279px;
  border: none;
  margin: auto;
  box-shadow: 10px 10px 42px -7px rgba(56, 41, 224, 0.36);
}
button:hover {
  cursor: pointer;
  color: hsl(245deg, 75%, 52%);
  background-color: hsl(225deg, 100%, 98%);
  -webkit-animation: bop 0.7s linear;
          animation: bop 0.7s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@media (min-width: 800px) {
  button {
    width: 354px;
  }
}

@-webkit-keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
#cancel {
  color: hsl(224deg, 23%, 55%);
  font-weight: 900;
  margin: 0.5rem auto;
  font-size: 1rem;
  font-family: "Red Hat Display", sans-serif;
}
#cancel:hover {
  cursor: pointer;
  color: hsl(223deg, 47%, 23%);
  text-decoration: underline;
  transform: scale(1.1);
}/*# sourceMappingURL=main.css.map */