@use "./function" as u;

@mixin tablet(){
    @media(min-width:$tablet){
        @content;
    }
} 
@mixin desktop(){
    @media(min-width:$desktop){
        @content;
    }
} 

body{
    background: url("/images/bg-mobile.svg") $violet;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    text-align: center;

    @include tablet(){
        background: url("/images/bg-desktop.svg") $violet;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;
    }
}


#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: u.rem(40);

    @include desktop(){
        flex-direction: row;
        
    }

}