@use "./function" as u;

@mixin tablet(){
    @media(min-width:$tablet){
        @content;
    }
} 

#header-container{
    padding-top: u.rem(30);

    @include tablet(){
        padding:0;
        margin-right: 70vw;
    }
    
    img{
        height: u.rem(50);
        width: u.rem(147);
        margin: 0 auto;

      

        &:hover{
            cursor: pointer;
        }
    }
    
}