@use "./function" as u;

@mixin tablet(){
    @media(min-width:$tablet){
        @content;
    }
}
@mixin desktop(){
    @media(min-width:$desktop){
        @content;
    }
} 

#illustrations{
    height: u.rem(209);
    width: u.rem(296);
    margin-top: u.rem(50);

    @include tablet(){
        height:u.rem(505);
        width: u.rem(696);
        margin-top: u.rem(90);
    
    }
    @include desktop(){
        padding: 0 u.rem(30);
    }
}