#header-container{
    width:70vw;
    
    #logo-img{
        width: 100px;
        height: 20.89px;
        margin: 1.5rem;
        @include tablet(){
            width: 120px;
            height: auto;
            margin-left:20vw ;
        }
        @include desktop(){
            margin-bottom: 670px;
            margin-left: 11vw;
            width: 158px;
            height:33px
        }
    }

}