#input-container{
    @include flexStyle(column, center, center);
    height: 3rem;
    width: 311px;
    margin-top: 3rem;
    @include desktop(){
        height: 56px;
        width: 445px;
        margin: auto;
        margin-top: 2.4rem
    }
    #inner-input-container{
        @include flexStyle(row,center,center);
    }
    #email{
        background-repeat: no-repeat;
        background-position: 80%;
        background-size: 24px;
        border: 1px solid $desaturated-red;
        width:311px;
        height: 48px;
        color: $desaturated-red;
        font-family: $font-family;
        border-radius: 30px;
        padding: 1rem;
       background-color:hsl(0, 100%, 98%) ;
        @include desktop(){
            height: 56px;
            width: 445px;
            background-position: 75%;
        }
    }
    
    #arrow-button{
        width: 4rem;
        height: 3rem;
        background-image: $linear-two;
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        border-radius: 30px;
        position: absolute;
        margin-left: 17rem;
        @include desktop(){
            width:100px;
            height:56px;
            margin-left: 22rem;
        }
        &:hover{
            cursor: pointer;
            transform: scale(1.05);
            transition: 0.7s;
            background-image: none;
            background-color: hsl(0, 74%, 74%);
        }
                
        #mail-btn{
            padding: 0.8rem;
            @include tablet(){
                margin-left:0.8rem;
            }
            @include desktop(){
                margin-left: 1.9rem;
                margin-top: 0.3rem;
            }
        }
    }
    #error-text{
        align-self: flex-start;
        color: $soft-red;
        margin:0.5rem;
    }
}

#email::placeholder{
    color: $desaturated-red;
}
#email::-ms-input-placeholder { /* Microsoft Edge */
    color: $desaturated-red;
  }