#text-container{
    text-align: center;
    width:311px;
    margin: auto;
    @include tablet(){
        text-align: left;
    }
    @include desktop(){
        width: 830px;
        margin-top: 16.5rem;
    }
    h1{
        text-transform: uppercase;
        font-size: 3rem;
        line-height: 3.2rem;
        letter-spacing: 0.8rem;
        @include desktop(){
            width: 445px;
            margin: auto;
            font-size: 3.9rem;
            line-height: 4.3rem;
            margin-bottom: 1rem;
            letter-spacing: 1.1rem;
            
        }
        span{
            font-weight: $thin;
            color: $desaturated-red;
        }
    }
    p{
        color:$desaturated-red;
        font-size: 0.9rem;
        line-height: 1.5rem;
        @include desktop(){
            width: 445px;
            margin: auto;
            font-size: 1rem;
            line-height: 1.7rem;
            margin-top: 1.3rem;
        }
        
    }
}