#image {
  background-image: url("/images/hero-mobile.jpg");
  width: 376px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}
@media (min-width: 800px) {
  #image {
    background-image: url("/images/hero-desktop.jpg");
    width: 305px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2rem;
  }
}
@media (min-width: 1440px) {
  #image {
    width: 610px;
    height: 800px;
  }
}

* {
  box-sizing: border-box;
}

*:focus { /* no focus border on input and other elements*/
  outline: none;
}

body {
  background-image: linear-gradient(135deg, hsl(0deg, 0%, 100%), hsl(0deg, 100%, 98%));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 60%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-start;
  font-family: "Josefin Sans", sans-serif;
}
@media (min-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
}

#main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-start;
  margin: auto;
}
@media (min-width: 800px) {
  #main-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
}
@media (min-width: 1440px) {
  #main-container {
    width: 1440px;
    height: 800px;
  }
}

@media (min-width: 800px) {
  #inner-container {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    justify-content: center;
  }
}
@media (min-width: 800px) and (min-width: 1440px) {
  #inner-container {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

#header-container {
  width: 70vw;
}
#header-container #logo-img {
  width: 100px;
  height: 20.89px;
  margin: 1.5rem;
}
@media (min-width: 800px) {
  #header-container #logo-img {
    width: 120px;
    height: auto;
    margin-left: 20vw;
  }
}
@media (min-width: 1440px) {
  #header-container #logo-img {
    margin-bottom: 670px;
    margin-left: 11vw;
    width: 158px;
    height: 33px;
  }
}

#text-container {
  text-align: center;
  width: 311px;
  margin: auto;
}
@media (min-width: 800px) {
  #text-container {
    text-align: left;
  }
}
@media (min-width: 1440px) {
  #text-container {
    width: 830px;
    margin-top: 16.5rem;
  }
}
#text-container h1 {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 3.2rem;
  letter-spacing: 0.8rem;
}
@media (min-width: 1440px) {
  #text-container h1 {
    width: 445px;
    margin: auto;
    font-size: 3.9rem;
    line-height: 4.3rem;
    margin-bottom: 1rem;
    letter-spacing: 1.1rem;
  }
}
#text-container h1 span {
  font-weight: 300;
  color: hsl(0deg, 36%, 70%);
}
#text-container p {
  color: hsl(0deg, 36%, 70%);
  font-size: 0.9rem;
  line-height: 1.5rem;
}
@media (min-width: 1440px) {
  #text-container p {
    width: 445px;
    margin: auto;
    font-size: 1rem;
    line-height: 1.7rem;
    margin-top: 1.3rem;
  }
}

#input-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  height: 3rem;
  width: 311px;
  margin-top: 3rem;
}
@media (min-width: 1440px) {
  #input-container {
    height: 56px;
    width: 445px;
    margin: auto;
    margin-top: 2.4rem;
  }
}
#input-container #inner-input-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}
#input-container #email {
  background-repeat: no-repeat;
  background-position: 80%;
  background-size: 24px;
  border: 1px solid hsl(0deg, 36%, 70%);
  width: 311px;
  height: 48px;
  color: hsl(0deg, 36%, 70%);
  font-family: "Josefin Sans", sans-serif;
  border-radius: 30px;
  padding: 1rem;
  background-color: hsl(0deg, 100%, 98%);
}
@media (min-width: 1440px) {
  #input-container #email {
    height: 56px;
    width: 445px;
    background-position: 75%;
  }
}
#input-container #arrow-button {
  width: 4rem;
  height: 3rem;
  background-image: linear-gradient(135deg, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 30px;
  position: absolute;
  margin-left: 17rem;
}
@media (min-width: 1440px) {
  #input-container #arrow-button {
    width: 100px;
    height: 56px;
    margin-left: 22rem;
  }
}
#input-container #arrow-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.7s;
  background-image: none;
  background-color: hsl(0deg, 74%, 74%);
}
#input-container #arrow-button #mail-btn {
  padding: 0.8rem;
}
@media (min-width: 800px) {
  #input-container #arrow-button #mail-btn {
    margin-left: 0.8rem;
  }
}
@media (min-width: 1440px) {
  #input-container #arrow-button #mail-btn {
    margin-left: 1.9rem;
    margin-top: 0.3rem;
  }
}
#input-container #error-text {
  align-self: flex-start;
  color: hsl(0deg, 93%, 68%);
  margin: 0.5rem;
}

#email::-moz-placeholder {
  color: hsl(0deg, 36%, 70%);
}

#email:-ms-input-placeholder {
  color: hsl(0deg, 36%, 70%);
}

#email::placeholder {
  color: hsl(0deg, 36%, 70%);
}

#email::-ms-input-placeholder { /* Microsoft Edge */
  color: hsl(0deg, 36%, 70%);
}/*# sourceMappingURL=main.css.map */