@mixin desktop(){
    @media(min-width:800px){
        @content;
    }
}

#main-img{
    background: url("/images/drawers.jpg");
    width: 327px;
    height:230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -20%;
    position: relative; 
    background-color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    
    @include desktop(){
        height:280px;
        width:285px;
        background-position: 20%;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
        margin-right: 55px;
    }
    
    
           
}