@mixin desktop(){
    @media(min-width:800px){
        @content;
    }
}
#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    height:512px;
    width:327px;
    border-radius: 15px;
    background-color: white;

    @include desktop(){
        height: 280px;
        width: 730px;
        flex-direction: row;
    }
}