*{
    box-sizing: border-box;
}
body{
    background-color: $very-dark-blue-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    color: white;
    font-family: $font-family;
}
main{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}