span{
    font-weight: $bold;
    color: white;
    &:hover{
        cursor: pointer;
        color: $cyan;
    }
}
#creator-container{/*
    border-top: 1px solid $soft-blue;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: -5px;
    
    
    img{
        height: 30px;
        border:1px solid white;
        border-radius: 50%;
      
    }
    p{
        margin-left: 25px;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
    }
}

hr{
    opacity:0.1;
    color: $soft-blue;
}