@mixin desktop(){
    @media(min-width:600px){
        @content;
    }
}

#eth-img{
    width: 285px;
    position: relative;
    border-radius: 10px;
    
    &:hover{
        cursor: pointer;
        opacity: 0.5;
    }
    @include desktop(){
        width: 305px;
    }
}

#overlay{
    margin-top: 50px;
    margin-bottom: 10px;
    width: 285px;
    height: 283px;
    position: relative;
    border-radius: 10px;
    &:hover{
        background-color: $cyan;
        opacity: 0.5;
        background-image: url("/images/icon-view.svg");
        background-repeat: no-repeat;
        background-position: 50%;
        transform: rotate(360deg);
        transition-duration: 1s;       
    }
    @include desktop(){
        margin-top: 12px;
        width: 305px;
        height: 302px;
    }
}

