@mixin desktop(){
    @media(min-width:800px){
        @content;
    }
}

#numbers-container, #eth-container, #days-left{
    display: flex;
    flex-direction: row;
    align-items: center;
        
    img{
        height: 20px;
    }
}
#eth-container p{
    font-size: 1rem;
    color: $cyan;
    font-weight: $bold;
    margin-left: 8px;
}
#days-left{
    margin-left: 50px;
    @include desktop(){
        margin-left: 100px;
    }
    p{
        font-size: 1rem;
        margin-left: 8px;
        font-weight: $medium;
    
    }
}
#numbers-container{
    margin-top: -10px;
}


