
 @mixin desktop(){
    @media(min-width:600px){
        @content;
    }
}

#text-container{
    
    padding-bottom: 5px;
    width: 265px;
    align-items: center;
    justify-content: center;
    @include desktop(){
        width: 300px;
        margin-top: 10px;
    }
    
    h1{
        font-size: 1.4rem;
        margin-top: -5px;
        &:hover{
            color: $cyan;
            cursor: pointer;
        }
    }
    p{
        font-weight: $normal;
        line-height: 1.6rem;
        color: $soft-blue;
        font-size: 1.1rem;
    }
}
