$desktop:1080px;
$red:hsl(0, 100%, 74%) ;
$green:hsl(154, 59%, 51%); //	#38cc8c hex
$blue:hsl(248, 32%, 49%); //#6055a5 hex
$dark-blue:hsl(249, 10%, 26%) ;
$grayish-blue:hsl(246, 25%, 77%);
$thin:400;
$medium:500;
$bold:600;
$very-bold:700;
$font-family:'Poppins', sans-serif;;